# Ignore Photoshop files anywhere in the repository
*.psd

# Ignore GIMP files anywhere in the repository
*.xcf

# Ignore Krita files anywhere in the repository
*.kra

# Ignore Documentation folder
/Documentation/